html, body {
  height: 100%;
  width: 100%;
  
}

#navBar {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 100%;
}

#homeButton {
  flex: 1;
  height: 75%;
}

img {
  width: 100%;
  height: 100%;
}

#toolBar {
  flex: 1;
  text-align: center;
}

#action {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 25%;
  width: 100%;
  
}

#jobSeekers {
  flex: 1;
  text-align: center;
  height: 25%;
  width: 50%;
}

#employers {
  flex: 1;
  text-align: center;
  height: 25%;
  width: 50%;
}

#info {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

#looking {
  flex: 1;
}

#why {
  flex: 1;
}

#contractors {
  flex: 1;
}

#footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 25%;
  width: 100%;
}

#about {
  flex: 1;
}

#resources {
  flex: 1;
}

#legal {
  flex: 1;
}

#jobSeekerForm {
  display: flex;
  flex-direction: column;
  justify-items: center;
  
}

#employerForm {
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

fieldset {

  width: max-content;
  padding: 20px;
  margin: 20px;
}

textarea {
  width: 100%;

}